@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap");
.navMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.navLogo img {
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
  margin-top: 4px;
}

.navLogo {
  display: flex;
  cursor: pointer;
  text-decoration: none;
}

.navLogo a {
  text-decoration: none;
}

.navLogo h1 {
  background: #4caf50;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Reem Kufi Fun", sans-serif;
  font-weight: bold;
  padding: 7px 7px 0 7px;
  font-size: 35px;
  margin-top: 15px;
  margin-left: 15px;
}
.navlogo h1:hover {
  background-color: red;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  background: rgba(207, 255, 194) 84%;
}

.menu {
  display: flex;
  text-decoration: none;
  height: 70px;
  margin-left: 305px;
  margin-right: 305px;
}
.menu a {
  font-family: "Reem Kufi Fun", sans-serif;
  font-size: 25px;
}
.menu a:hover {
  color: #ffc107;
}
.profile {
  display: flex;
}
.me {
  margin-left: 25px;
  outline: none;
}

.account {
  margin-top: 5px;
}

.left-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  margin-top: 10px;
  z-index: 2;
}

.left-sidebar p {
  color: #39971c;
  margin-bottom: 0;
}

.navelems {
  text-decoration: "none";
  padding: 35px;
}

.navlemsCart {
  margin-top: 10px;
  margin-right: 10px;
}
.right-sidebar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* margin-left: 960px; */
  margin-right: 0px;
  margin-top: 5px;
}

.cart-icon {
  width: 30px;
  height: 30px;
}

.cart-icon {
  width: 45px !important;
  height: 45px !important;
}

.cart {
  display: flex;
  align-items: center;
}
.cart p {
  font-size: 20px;
}

.login {
  display: flex;
  justify-content: flex-end;
  margin-left: 25px;
  border-radius: 30px;
  border: 2px solid #225a10;
  margin-top: 8px;
  margin-bottom: 8px;
}
.login p {
  color: #ffc107;
  font-size: 18px;
}
.signUP {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  width: 128px;
  padding-right: 18px;
  border-radius: 26px;
  background: #225a10;
  color: rgba(207, 255, 194);
  font-size: 24px;
  font-family: "Reem Kufi Fun", sans-serif;
}
.signUP:hover {
  color: #ffcd3fde;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #225a10;
  width: 100px;
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
  font-family: "Reem Kufi Fun", sans-serif;
  font-size: 24px;
}
.navLink:hover {
  color: #0b1f11;
}
.cartLogo {
  width: 50px;
}
