.invalidR {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  color: red;
  font-size: 15px;
  font-family: 'Reem Kufi Fun', sans-serif;
}
.profileImg {
  margin-left: 100px;
  width: 192px;
  height: 192px;
  margin-bottom: 20px;
  border-radius: 50%;
}
.head {
  display: flex;
  align-items: center;
  background-color: rgba(241, 238, 23, 0.28);
}
.mainR {
  background-color: transparent;
  width: 400px;
  z-index: 2;
  height: 750px;
  margin-top: 126px;
  margin-bottom: 35px;
  margin-left: 980px;
  border-radius: 1.5em;

}
.Form {
  display: flex;
  flex-direction: column;
  padding: 2px;
  border-bottom: none;
}
.sign {
  padding-top: 0px;
  color: #3b663d;
  font-family: 'Reem Kufi Fun', sans-serif;
  font-size: 50px;
}
.backgroundR {
  position: absolute;
  width: 1155px;
  margin-left: 360px;
  margin-top: 50px;
  height: 795px;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.inputR {
  width: 76%;
  color: rgb(8, 36, 15);
  font-family: 'Reem Kufi Fun', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  background-color: rgb(133 209 65 / 27%);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 10px;
  margin-left: 46px;
  text-align: center;
}

.inputR:focus {
  border: 2px solid rgba(182, 179, 15, 0.555) !important;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(8, 36, 15);
  font-size: 20px;
  font-family: 'Reem Kufi Fun', sans-serif;
}
.submitR {
  cursor: pointer;
  border-radius: 5em;
  color: #225a10;
  background: #ffcd3fde;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Reem Kufi Fun', sans-serif;
  margin-left: 110px;
  margin-top: 35px;
  font-size: 25px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.submit:hover {
  color: #204313;
}
.danger{

}